@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-100: 236, 217, 204;
  --color-primary-200: 217, 179, 153;
  --color-primary-300: 198, 141, 102;
  --color-primary-400: 179, 103, 51;
  --color-primary-600: 128, 52, 0;
  --color-primary-700: 96, 39, 0;
  --color-primary-800: 64, 26, 0;
  --color-primary-900: 32, 13, 0;
  --color-primary-500: 160, 65, 0;
  --color-onPrimary-500: 255, 255, 255;
  --color-primaryContainer-100: 255, 248, 245;
  --color-primaryContainer-200: 255, 241, 235;
  --color-primaryContainer-300: 255, 233, 224;
  --color-primaryContainer-400: 255, 226, 214;
  --color-primaryContainer-600: 204, 175, 163;
  --color-primaryContainer-700: 153, 131, 122;
  --color-primaryContainer-800: 102, 88, 82;
  --color-primaryContainer-900: 51, 44, 41;
  --color-primaryContainer-500: 255, 219, 204;
  --color-onPrimaryContainer-500: 53, 16, 0;
  --color-secondary-100: 228, 221, 219;
  --color-secondary-200: 200, 188, 182;
  --color-secondary-300: 173, 154, 146;
  --color-secondary-400: 145, 121, 109;
  --color-secondary-600: 94, 70, 58;
  --color-secondary-700: 71, 52, 44;
  --color-secondary-800: 47, 35, 29;
  --color-secondary-900: 24, 17, 15;
  --color-secondary-500: 118, 87, 73;
  --color-onSecondary-500: 255, 255, 255;
  --color-secondaryContainer-100: 255, 248, 245;
  --color-secondaryContainer-200: 255, 241, 235;
  --color-secondaryContainer-300: 255, 233, 224;
  --color-secondaryContainer-400: 255, 226, 214;
  --color-secondaryContainer-600: 204, 175, 163;
  --color-secondaryContainer-700: 153, 131, 122;
  --color-secondaryContainer-800: 102, 88, 82;
  --color-secondaryContainer-900: 51, 44, 41;
  --color-secondaryContainer-500: 255, 219, 204;
  --color-onSecondaryContainer-500: 44, 22, 11;
  --color-tertiary-100: 224, 223, 214;
  --color-tertiary-200: 193, 191, 173;
  --color-tertiary-300: 163, 159, 131;
  --color-tertiary-400: 132, 127, 90;
  --color-tertiary-600: 81, 76, 39;
  --color-tertiary-700: 61, 57, 29;
  --color-tertiary-800: 40, 38, 20;
  --color-tertiary-900: 20, 19, 10;
  --color-tertiary-500: 101, 95, 49;
  --color-onTertiary-500: 255, 255, 255;
  --color-tertiaryContainer-100: 251, 250, 238;
  --color-tertiaryContainer-200: 248, 244, 221;
  --color-tertiaryContainer-300: 244, 239, 203;
  --color-tertiaryContainer-400: 241, 233, 186;
  --color-tertiaryContainer-600: 190, 182, 135;
  --color-tertiaryContainer-700: 142, 137, 101;
  --color-tertiaryContainer-800: 95, 91, 68;
  --color-tertiaryContainer-900: 47, 46, 34;
  --color-tertiaryContainer-500: 237, 228, 169;
  --color-onTertiaryContainer-500: 31, 28, 0;
  --color-error-100: 242, 219, 219;
  --color-error-200: 229, 183, 183;
  --color-error-300: 217, 147, 147;
  --color-error-400: 204, 111, 111;
  --color-error-600: 153, 60, 60;
  --color-error-700: 115, 45, 45;
  --color-error-800: 76, 30, 30;
  --color-error-900: 38, 15, 15;
  --color-error-500: 191, 75, 75;
  --color-onError-500: 255, 255, 255;
  --color-errorContainer-100: 255, 248, 247;
  --color-errorContainer-200: 255, 240, 239;
  --color-errorContainer-300: 255, 233, 230;
  --color-errorContainer-400: 255, 225, 222;
  --color-errorContainer-600: 204, 174, 171;
  --color-errorContainer-700: 153, 131, 128;
  --color-errorContainer-800: 102, 87, 86;
  --color-errorContainer-900: 51, 44, 43;
  --color-errorContainer-500: 255, 218, 214;
  --color-onErrorContainer-500: 65, 0, 2;
  --color-success-100: 224, 248, 228;
  --color-success-200: 193, 240, 201;
  --color-success-300: 161, 233, 173;
  --color-success-400: 130, 225, 146;
  --color-success-600: 79, 174, 95;
  --color-success-700: 59, 131, 71;
  --color-success-800: 40, 87, 48;
  --color-success-900: 20, 44, 24;
  --color-success-500: 99, 218, 119;
  --color-onSuccess-500: 255, 255, 255;
  --color-successContainer-100: 245, 253, 248;
  --color-successContainer-200: 234, 252, 240;
  --color-successContainer-300: 224, 250, 233;
  --color-successContainer-400: 213, 249, 225;
  --color-successContainer-600: 162, 198, 174;
  --color-successContainer-700: 122, 148, 131;
  --color-successContainer-800: 81, 99, 87;
  --color-successContainer-900: 41, 49, 44;
  --color-successContainer-500: 203, 247, 218;
  --color-onSuccessContainer-500: 6, 58, 22;
  --color-info-100: 221, 238, 255;
  --color-info-200: 187, 221, 255;
  --color-info-300: 152, 204, 255;
  --color-info-400: 118, 187, 255;
  --color-info-600: 67, 136, 204;
  --color-info-700: 50, 102, 153;
  --color-info-800: 34, 68, 102;
  --color-info-900: 17, 34, 51;
  --color-info-500: 84, 170, 255;
  --color-onInfo-500: 255, 255, 255;
  --color-warning-100: 252, 244, 227;
  --color-warning-200: 249, 233, 199;
  --color-warning-300: 247, 221, 170;
  --color-warning-400: 244, 210, 142;
  --color-warning-600: 193, 159, 91;
  --color-warning-700: 145, 119, 68;
  --color-warning-800: 96, 80, 46;
  --color-warning-900: 48, 40, 23;
  --color-warning-500: 241, 199, 114;
  --color-onWarning-500: 255, 255, 255;
  --color-warningContainer-100: 255, 249, 242;
  --color-warningContainer-200: 255, 243, 230;
  --color-warningContainer-300: 255, 237, 217;
  --color-warningContainer-400: 255, 231, 205;
  --color-warningContainer-600: 204, 180, 154;
  --color-warningContainer-700: 153, 135, 115;
  --color-warningContainer-800: 102, 90, 77;
  --color-warningContainer-900: 51, 45, 38;
  --color-warningContainer-500: 255, 225, 192;
  --color-onWarningContainer-500: 63, 28, 0;
  --color-background-100: 255, 254, 255;
  --color-background-200: 255, 253, 255;
  --color-background-300: 255, 253, 255;
  --color-background-400: 255, 252, 255;
  --color-background-600: 204, 201, 204;
  --color-background-700: 153, 151, 153;
  --color-background-800: 102, 100, 102;
  --color-background-900: 51, 50, 51;
  --color-background-500: 255, 251, 255;
  --color-onBackground-500: 32, 26, 24;
  --color-surface-100: 255, 254, 255;
  --color-surface-200: 255, 253, 255;
  --color-surface-300: 255, 253, 255;
  --color-surface-400: 255, 252, 255;
  --color-surface-600: 204, 201, 204;
  --color-surface-700: 153, 151, 153;
  --color-surface-800: 102, 100, 102;
  --color-surface-900: 51, 50, 51;
  --color-surface-500: 255, 251, 255;
  --color-onSurface-500: 32, 26, 24;
  --color-surfaceVariant-100: 253, 248, 247;
  --color-surfaceVariant-200: 251, 242, 238;
  --color-surfaceVariant-300: 248, 235, 230;
  --color-surfaceVariant-400: 246, 229, 221;
  --color-surfaceVariant-600: 195, 178, 170;
  --color-surfaceVariant-700: 146, 133, 128;
  --color-surfaceVariant-800: 98, 89, 85;
  --color-surfaceVariant-900: 49, 44, 43;
  --color-surfaceVariant-500: 244, 222, 213;
  --color-onSurfaceVariant-500: 82, 68, 61;
  --color-outline-100: 231, 227, 226;
  --color-outline-200: 206, 199, 196;
  --color-outline-300: 182, 171, 167;
  --color-outline-400: 157, 143, 137;
  --color-outline-600: 106, 92, 86;
  --color-outline-700: 80, 69, 65;
  --color-outline-800: 53, 46, 43;
  --color-outline-900: 27, 23, 22;
  --color-outline-500: 133, 115, 108;
}
